  <div class="cards">
    <h1>Get lost in our awesome cocktail menu</h1>
    <% @cocktails.each do |c| %>
      <div class="card-category">
        <div class="cocktail-infos">
            <div>
              <h2><%= c.name %></h2>
            </div>
            <h2 class="cocktailpricing">£99.99</h2>
          </div>
          <div>
            <%= link_to 'Show your cocktail', cocktail_path(c) %>
          </div>
        </div>
      </div>
    <% end %>
</div>
